.constructor.fullWidth
  .c
    .constructor__title
      | Онлайн
      .constructor__subtitle конструктор

    .constructor__container
      .constructor__left
        .constructor__block
          | Марка авто
          select.select(placeholder='Выберите марку')
            option
            option Audi
            option BWM
          | Модель авто
          select.select(placeholder='Выберите марку')
            option Audi
            option BWM
        .constructor__block
          .constructor__blockTitle Выберите форму ячеек
          .constructor__forms
            .constructor__form.constructor__form--active
              img(src='')
              | Ромб
            .constructor__form
              img(src='')
              | Сота

        .constructor__block
          .constructor__blockTitle Выберите цвет
          .constructor__colors
            each i in [0, 1,2,3,4,5,6,7,8]
              button.constructor__color(class=(i === 0 ? 'constructor__color--active' : null))
                img(src='')

        .constructor__block
          .constructor__blockTitle Выберите цвет окантовки
          .constructor__colors
            each i in [0, 1,2,3,4,5,6,7,8]
              button.constructor__color(class=(i === 0 ? 'constructor__color--active' : null))
                img(src='')


      .constructor__center
        .constructor__block.constructor__block--full
          .constructor__button
            button.btn.btn--big Оформить заказ

      .constructor__right
        .constructor__block
          .constructor__blockTitle Выберите расположение коврика
          .constructor__complect
            .constructor__complectButtons
              button.constructor__complectButton Водительский
              button.constructor__complectButton Передние
              button.constructor__complectButton Задние
              button.constructor__complectButton В салон
              button.constructor__complectButton В багажник
              button.constructor__complectButton В салон #[br]и багажник
            .constructor__positions
              button.constructor__position.constructor__position--01: img(src=require('src/modules/constructor/img/constructor_01.svg'))
              button.constructor__position.constructor__position--02: img(src=require('src/modules/constructor/img/constructor_02.svg'))
              button.constructor__position.constructor__position--03: img(src=require('src/modules/constructor/img/constructor_03.svg'))
              button.constructor__position.constructor__position--04: img(src=require('src/modules/constructor/img/constructor_04.svg'))
              button.constructor__position.constructor__position--05: img(src=require('src/modules/constructor/img/constructor_04.svg'))
              button.constructor__position.constructor__position--06: img(src=require('src/modules/constructor/img/constructor_05.svg'))

        .constructor__block
          .constructor__blockTitle Выберите аксессуары
          .constructor__accessory
            label.checkbox
              input(type="checkbox")
              span Подпятник

          .constructor__accessory
            label.checkbox
              input(type="checkbox")
              span Значок

        .constructor__block.constructor__block--total
          .constructor__blockTitle Стоимость:
          .constructor__price #[span 750] рублей

        .constructor__block
          .constructor__note
            +the_svg('sign')
            .constructor__noteText Цена на трехрядные автомобили и микроавтобусы может отличаться, уточняйте по телефону

