mixin the_svg(svgIcon, fileName)
  svg()&attributes(attributes)
    use(xlink:href=`img/${fileName ? fileName + '.sprite' : 'sprite'}.svg#` + svgIcon + '-usage')

mixin the_card(imgIndex, big, bigMobile)
  a.card(class=[big && 'card--big', bigMobile && 'card--bigMobile'].filter(Boolean).join(' ') href='#')
    .card__badge -18%
    .card__image: img(src=require('src/img/catalog/' + (imgIndex % 5 + 1) + '.jpg'))
    .card__content
      .card__category какой-то раздел
      .card__name Какой-то товар продается PRO
      .card__params
        .card__param #[span цвет:] RAL 4488RAL 4488RAL 4488
        .card__param #[span покрытие:] Металлик
        .card__param #[span толщина: ] 0,8 мм
      .card__price #[span 380 руб.]/м#[sup 2]
      .card__priceOld 788 руб./м#[sup 2]
      .card__button: button.btn.btn--leftBottom.btn--smMobile В корзину

mixin breadcrumbs(items)
  .breadcrumbs
    span
      span
        a(href="#") Главная
        each i in items
          span=i

mixin head(title,subtitle,underline)
  .head.block(class=(underline ? 'head--underline' : null))
    h1= title
    if(subtitle)
      p= subtitle
