.orderMarquee.fullWidth
  button.orderMarquee__container
    span.orderMarquee__text
      div: img(src=require('src/modules/orderMarquee/img/marquee_text.svg'))
      div: img(src=require('src/modules/orderMarquee/img/marquee_text_filled.svg'))
      div: img(src=require('src/modules/orderMarquee/img/marquee_text.svg'))
      div: img(src=require('src/modules/orderMarquee/img/marquee_text_filled.svg'))
    span.orderMarquee__text
      div: img(src=require('src/modules/orderMarquee/img/marquee_text.svg'))
      div: img(src=require('src/modules/orderMarquee/img/marquee_text_filled.svg'))
      div: img(src=require('src/modules/orderMarquee/img/marquee_text.svg'))
      div: img(src=require('src/modules/orderMarquee/img/marquee_text_filled.svg'))