.servicesSlider.fullWidth.block
  .servicesSlider__container
    .servicesSlider__slider
      .servicesSlider__slides
        .servicesSlider__slide
          img.servicesSlider__image(src=require('src/modules/servicesSlider/img/advantages_01.jpg'))
          .servicesSlider__title Сертифицированный материал
          .servicesSlider__text Долговечный и безопасный материал обладает  стойкостью к истиранию, растрескиванию, а также перепадам температур и давления,  сохраняя свои свойства
        .servicesSlider__slide
          img.servicesSlider__image(src=require('src/modules/servicesSlider/img/advantages_02.jpg'))
          .servicesSlider__title Удобство использования и ухода
          .servicesSlider__text Коврики легко снимаются для чистки. Вы можете быть уверены, что наши коврики Eva всегда будут выглядеть свежими и чистыми
        .servicesSlider__slide
        //  img.servicesSlider__image(src=require('src/modules/servicesSlider/img/advantages_03.jpg'))
        //  .servicesSlider__title Индивидуальный подход
        //  .servicesSlider__text Мы учитываем особенности и размеры  каждого автомобиля, чтобы предоставить  Вам идеально подходящие коврики Eva.
        //.servicesSlider__slide
        //  img.servicesSlider__image(src=require('src/modules/servicesSlider/img/advantages_04.jpg'))
        //  .servicesSlider__title Способность собирать до 1,5 л. воды и грязи
        //  .servicesSlider__text Каждая ячейка коврика имеет специальную  конструкцию, которая эффективно задерживает загрязнения и предотвращает их попадание  на пол автомобиля.
        //.servicesSlider__slide
        //  img.servicesSlider__image(src=require('src/modules/servicesSlider/img/advantages_05.jpg'))
        //  .servicesSlider__title Плотное прилегание к полу автомобиля
        //  .servicesSlider__text Коврики тщательно повторяют контур  пола, обеспечивая идеальную посадку  и защиту от пыли, грязи и влаги


