.frontSlider.block
  .frontSlider__slider
    .frontSlider__slides
      .frontSlider__slide
        img.frontSlider__img(src=require('src/modules/frontSlider/img/slide.jpg'))
        .frontSlider__content
          .frontSlider__title Автомобильные#[br] #[span.outline EVA]-коврики
          .frontSlider__bullets
            .frontSlider__bullet
              img(src=require('src/modules/frontSlider/img/frontSlider_01.svg'))
              | Собственное производство
            .frontSlider__bullet
              img(src=require('src/modules/frontSlider/img/frontSlider_02.svg'))
              | Индивидуально для вашей машины
            .frontSlider__bullet
              img(src=require('src/modules/frontSlider/img/frontSlider_03.svg'))
              | Получите заказ где Вам удобно

      .frontSlider__slide
        img.frontSlider__img(src=require('src/modules/frontSlider/img/slide.jpg'))
        .frontSlider__content
          .frontSlider__title Автомобильные#[br] #[span.outline EVA]-коврики

  .frontSlider__pagination

  .frontSlider__button
    a.btn.btn--big(href='#') Подобрать коврик